@import "tailwindcss";
/* 1. Register the local font files */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Keeps text visible while loading */
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;


  --color-brand-900: #3e2723;
  --color-brand-800: #5d4037;
  --color-brand-700: #795548;
  --color-brand-600: #8d6e63;
  --color-brand-500: #a1887f;
  --color-brand-400: #bcaaa4;
  --color-brand-300: #d7ccc8;
  --color-brand-200: #efebe9;
  --color-brand-100: #f5f5f5;
  --color-brand-50: #fafafa;
}

html {
   scroll-behavior: smooth;
 }

html,
body {
  @apply bg-brand-50 text-brand-900 antialiased;
}

@layer base {
  a, button {
    /* Removes the gray tap box on iOS */
    -webkit-tap-highlight-color: transparent;
  }
}

/* Optional: Only allow the hover color change on devices with a mouse */
@media (hover: hover) {
  .hover\:text-brand-600:hover {
    @apply text-brand-600;
  }
}
